*, *::before, *::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0; }

html, body {
  background: #570000;
  color: #eee;
  font-family: 'Roboto', sans-serif;
  overflow-x: hidden;
  scroll-behavior: smooth; }

section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transition: filter 0.5s ease-in-out; }
  section:hover {
    filter: hue-rotate(30deg); }
  section h1, section h2 {
    font-weight: 100; }
  section h1, section h2, section p {
    text-shadow: 0 0.125rem 0 black; }
  section p {
    font-family: 'Markazi Text', serif; }

header, main {
  display: grid;
  grid-template-columns: repeat(1fr, 8);
  grid-auto-columns: minmax(0, 50vw);
  grid-auto-rows: minmax(25vh, auto); }

header {
  grid-template-areas: 'brand brand brand brand services services about about' 'brand brand brand brand services services about about'; }

main {
  grid-template-areas: 'work work work work contact contact contact contact' 'blog blog blog blog contact contact contact contact'; }

#brand {
  background: #570000 no-repeat center center;
  grid-area: brand;
  transition: all 0.5s ease-in-out; }
  #brand:hover {
    background: url("https://placeimg.com/800/800/tech?t=1529975598590") no-repeat center center; }
    #brand:hover i.fas {
      opacity: 0; }

#about {
  background: #A18276 no-repeat center center;
  grid-area: about;
  transition: all 0.5s ease-in-out; }
  #about:hover {
    background: url("https://placeimg.com/800/800/people?t=1529974849194") no-repeat center; }
    #about:hover i.fas {
      opacity: 0; }

#services {
  background: #D8C99B no-repeat center center;
  grid-area: services;
  transition: all 0.5s ease-in-out; }
  #services:hover {
    background: url("https://placeimg.com/800/800/arch?t=1529975931529") no-repeat center; }
    #services:hover i.fas {
      opacity: 0; }

#work {
  background: #A18276 no-repeat center center;
  grid-area: work;
  transition: all 0.5s ease-in-out; }
  #work:hover {
    background: url("https://placeimg.com/800/800/arch?t=1529975718886") no-repeat center; }
    #work:hover i.fas {
      opacity: 0; }

#blog {
  background: #D8C99B no-repeat center center;
  grid-area: blog;
  transition: all 0.5s ease-in-out; }
  #blog:hover {
    background: url("https://placeimg.com/800/800/arch?t=1529975832206") no-repeat center; }
    #blog:hover i.fas {
      opacity: 0; }

#contact {
  background: #B10F2E no-repeat center center;
  grid-area: contact;
  transition: all 0.5s ease-in-out; }
  #contact:hover {
    background: url("https://placeimg.com/800/800/tech?t=1529975890628") no-repeat center; }
    #contact:hover i.fas {
      opacity: 0; }

@media (min-width: 768px) {
  h1, h2 {
    font-size: 3rem; }
  p {
    font-size: 1.75rem; } }
