*, *::before, *::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html, body {
  color: #eee;
  font-family: 'Roboto', sans-serif;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  transition: filter 0.5s ease-in-out;

  img {
    max-height: 100%;
    opacity: 0;
    position: absolute;
    transition: all 1s ease-in-out;
    width: 100%;
  }

  &:hover {
    filter: hue-rotate(60deg);
    
    i {
      opacity: 0.2;
    }

    img {
      opacity: 0.5;
    }
    
    .text-reveal {
      opacity: 1;
      top: 1rem;
    }

  }

}

p {
  font-family: 'Markazi Text', serif;

}

header, main {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-auto-columns: minmax(25vw, 50vw);
  grid-auto-rows: minmax(25vh, auto);
}

header {
  grid-template-areas: 'brand brand brand brand brand brand brand brand'
                       'services services services services about about about about'
                       ;
}

main {
  grid-template-areas: 'work work work work blog blog blog blog'
                       'contact contact contact contact contact contact contact contact'
                       ;
}

#brand {
  background: #2196f3;
  grid-area: brand;
}

#about {
  background: #0069c0;
  grid-area: about;
}

#services {
  background: #6ec6ff;
  grid-area: services;
}

#work {
  background: #52c7b8;
  grid-area: work;
}

#blog {
  background: #00675b;
  grid-area: blog;
}

#contact {
  background: #009688;
  grid-area: contact;
}


.text-reveal {
  opacity: 0;
  position: absolute;
  top: 100%;
  transition: all 0.5s ease-in-out 0.3s;
  
  h1, p {
    text-shadow: 0.125rem 0.125rem 0.25rem rgba(0,0,0,0.5);
  }
  
  h1 {
    font-size: 3rem;
  }
  
  p {
    font-size: 2rem;
  }
  
}

// Media Queries

@media (min-width: 768px) {

  header, main {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-auto-columns: minmax(0, 50vw);
    grid-auto-rows: minmax(25vh, auto);
  }
  
  header {
    grid-template-areas: 'brand brand brand brand services services about about'
                         'brand brand brand brand services services about about'
                         ;
  }
  
  main {
    grid-template-areas: 'work work work work contact contact contact contact'
                         'blog blog blog blog contact contact contact contact'
                         ;
  }

}
